node_modules/

dist/

.env

.eslintcache

*.log

# yarn berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !.yarn/cache
.pnp.*

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
